.contactContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.contactContainer h1 {
    font-size: 2.5em;
    margin-bottom: .5em;
}

.contactContainer p {
    margin-bottom: 1.5em;
    color: #7b7b7b;
}

.contactContainer p span {
    color: #ffbb33;
    padding: 0 .2em;
    background-color: #222;
}